<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments::head(title='ECommerce Payment Gateway - Home', description='homepage')">
    </head>
    <body>
        <!-- Navigation -->
		<div th:replace="fragments::navigation"></div>
        <!-- Content -->
        <div class="container" id="mainContent">
        <div id="info" class="container w-50 h-50 p-1 mx-auto m-3 border border-dark rounded">
        	<h2 class="text-center">Payment successful</h2>
		    <div class="w-fit-content mx-auto my-3">
	 	    	<button class="btn btn-primary" type="button" v-on:click='clearCart'>Clear Cart & Continue Shopping</button>
	    	</div>
        </div>
        <div class="p-2">
	        <div><span class="font-weight-bold">Payment_ID: </span><span th:text="${params.get('payment_id')}"></span></div>
	        <div class="border rounded p-1 m-2">
	        	<code th:text="${payment}"></code>
	        </div>
	
	        <div><span class="font-weight-bold">Payment_Status: </span><span th:text="${params.get('payment_status')}"></span></div>
	        <div><span class="font-weight-bold">Payment_Request_ID: </span><span th:text="${params.get('payment_request_id')}"></span></div>
	        </div>
        </div>
        
		<div th:replace="fragments::javascripts"></div>
        <!-- Custom js -->
        <script src="/js/components.js"></script>
        <script src="/js/checkout.js"></script>
	</body>
</html>